{% extends "base.html" %}
{% block title %}Account Recovery{% endblock %}

{% block content %}
    {% if validlink %}
    <div class='bgimage-hero centerflex margin30'>
        <div class='glassarea'>
        {% if form.new_password1.errors or form.new_password2.errors %}
			{{ form.new_password1.errors }}
			{{ form.new_password2.errors }}
		{% else %}
			Please enter your new password.
		{% endif %}
		</div>
        <div class='glassarea'>
			<form action="" method="post" class='fancyfields'>
				{% csrf_token %}
				<input type="password" name="new_password1" required id="id_new_password1" placeholder="Password" autofocus>
				<input type="password" name="new_password2" required id="id_new_password2" placeholder="Confirm Password">
				<button type="submit">Change</button>
			</form>
		</div>
	</div>
    {% else %}
    <div class='bgimage-hero centerflex margin30'>
		<div class='glassarea'>
			<h2>Password reset unsuccessful</h2>
			<p>
				The password reset link was invalid, <br/>
				or has already been used.
			</p>
			<p>
				Please request a new password reset.
			</p>
        </div>
	</div>
    {% endif %}
{% endblock %}
