{% extends "base.html" %}

{% block title %}Account Recovery{% endblock %}

{% block content %}
{% if request.GET.email_sent %}
	<div class='bgimage-hero centerflex margin30'>
		<div class='glassarea'>
			<p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
			<p>You should be receiving it shortly.</p>
		</div>
	</div>
{% else %}
	<div class='bgimage-hero centerflex margin30'>
		<div class='glassarea'>
			{{ form.email.errors|default:"Please enter your email address to receive instructions for resetting your password." }}
		</div>
		<div class='glassarea'>
			<form action="" method="post" class='fancyfields'>
				{% csrf_token %}
				<input type="email" name="email" maxlength="254" required placeholder="email@example.com" autofocus>
				<button class='blockbutton' type="submit">Send</button>
			</form>
		</div>
	</div>
{% endif %}
{% endblock %}
